.fc-toolbar .fc-left,
.fc-toolbar .fc-right,
.fc-toolbar .fc-center {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .fc-toolbar .fc-left,
  .fc-toolbar .fc-right,
  .fc-toolbar .fc-center {
    display: block;
    float: left;
    width: 100%;
  }
  .fc-toolbar .fc-left .fc-button-group,
  .fc-toolbar .fc-right .fc-button-group,
  .fc-toolbar .fc-center .fc-button-group {
    float: left;
  }
}
