.cardGradient {
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(35%, #e2e2e2), color-stop(45%, #dbdbdb), color-stop(66%, #d1d1d1), color-stop(100%, #d1d1d1));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=0);
}
.generalBoxShadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
}
.footerBoxShadow {
  -webkit-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
}
html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.6rem;
  margin-bottom: 65px;
}
a.btn.btn-default.btn-lg.back-button {
  margin-top: 15px !important;
}
a:hover {
  cursor: pointer;
}
h1 {
  font-size: 4.4rem;
  font-weight: 700;
}
input[type='checkbox'] {
  width: 2.5rem;
  height: 2.5rem;
}
label {
  font-size: 1.7rem;
  float: right;
  vertical-align: baseline !important;
  text-align: right;
}
input.form-control,
select.form-control {
  padding: 20px 12px;
  font-size: 1.8rem;
}
option {
  font-size: 1.8rem;
}
span.label {
  color: #333;
  font-size: 1.6rem;
}
span.data-element {
  font-size: 2rem;
}
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 9998;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
}
footer.footer div.container-fluid p.text-muted {
  margin: 0;
}
footer.footer div.container-fluid p.text-muted:first-of-type {
  margin: 8px 0 0 0;
  font-weight: bold;
}
div[data-toggle="buttons"] label.active {
  color: #7AA3CC;
}
div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid
#c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div[data-toggle="buttons"] label:hover {
  color: #7AA3CC;
}
div[data-toggle="buttons"] label:active,
div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
nav.navbar.navbar-default.navbar-fixed-top {
  background: #174d6c;
}
nav.navbar.navbar-default.navbar-fixed-top a.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: none;
}
nav.navbar.navbar-default.navbar-fixed-top a.navbar-brand:hover {
  color: white;
}
nav.navbar.navbar-default.navbar-fixed-top ul.nav.navbar-nav.navbar-right li a {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}
nav.navbar.navbar-default.navbar-fixed-top ul.nav.navbar-nav.navbar-right li a span.fa {
  font-weight: normal;
}
div.info-panel {
  background: #ebebeb;
  border-radius: 4px;
  margin: 25px auto 15px auto;
}
div.info-panel h1 {
  font-size: 4.4rem;
}
div.info-panel p.lead {
  font-weight: bold;
  font-size: 2.8rem;
}
div.info-panel p:not(.lead) {
  font-size: 2rem;
}
div#breadcrumb {
  background: #e8e8e8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px 0 13px 0;
  margin: 8px 0 0 0;
}
div#breadcrumb a.breadcrumb {
  background: none;
  font-weight: bold;
  font-size: 2.2rem;
}
div#breadcrumb a.breadcrumb span.glyphicon,
div#breadcrumb a.breadcrumb span.fa {
  font-size: 2.3rem !important;
  display: inline-block !important;
  margin-right: 8px;
}
div#breadcrumb span.glyphicon.glyphicon-chevron-right {
  font-size: 1.6rem;
}
div#accountInfo div.well {
  background: #e8e8e8;
}
div#accountInfo div.well div.row {
  margin-bottom: 15px;
}
div#accountInfo div.well div.row:last-of-type {
  margin-bottom: 0;
}
div#accountInfo div.well div.row div[class|='col'] span.label {
  display: inline-block;
  color: black;
  width: 125px;
  padding: 0;
  font-size: 1.7rem;
  text-align: right;
}
div#accountInfo div.well div.row div[class|='col'] span.data-element {
  text-align: left;
  font-size: 2rem;
  display: inline-block;
}
div.container-fluid.input-background,
div.input-background {
  background: #fbfbfb;
  padding: 15px;
  border-radius: 4px;
}
div.container-fluid.input-background div.row.input-container,
div.input-background div.row.input-container {
  margin-bottom: 15px;
}
div.container-fluid.input-background div.row,
div.input-background div.row {
  margin-bottom: 15px;
}
div.container-fluid.input-background div.row span.label,
div.input-background div.row span.label {
  display: inline-block;
  color: #333;
  width: auto;
  padding: 0;
  font-size: 1.7rem;
  text-align: right;
}
div.container-fluid.input-background div.row span.data-element,
div.input-background div.row span.data-element {
  text-align: left;
  font-size: 2rem;
  display: inline-block;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] span.label,
div.input-background.planofservice div.row div[class|='col'] span.label {
  display: inline-block;
  text-align: right;
  width: 145px;
  margin-right: 5px;
  vertical-align: top;
  white-space: normal;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] span.data-element,
div.input-background.planofservice div.row div[class|='col'] span.data-element {
  margin-top: -5px;
  margin-left: 15px;
  display: inline-block;
  text-align: left;
  white-space: normal;
  vertical-align: top;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] table.table thead tr td,
div.input-background.planofservice div.row div[class|='col'] table.table thead tr td {
  font-weight: bold !important;
}
div.well p {
  font-size: 2rem;
}
div.row.menu-container {
  padding: 0;
  height: 100%;
}
div.row.menu-container .menu-option {
  height: auto;
}
div.row.menu-container .menu-option .option-inner {
  width: 100%;
  padding: 25px 20px 20px 20px;
  height: 380px;
  min-width: 250px;
  margin: 10px auto;
  border: 2px solid #b3b3b3;
  border-radius: 4px;
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(35%, #e2e2e2), color-stop(45%, #dbdbdb), color-stop(66%, #d1d1d1), color-stop(100%, #d1d1d1));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #e2e2e2 35%, #dbdbdb 45%, #d1d1d1 66%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=0);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.28);
}
div.row.menu-container .menu-option .option-inner span.glyphicon,
div.row.menu-container .menu-option .option-inner span.fa {
  display: block;
  color: #1a577a;
  font-size: 4rem;
  margin-bottom: 5px;
}
div.row.menu-container .menu-option .option-inner a h2 {
  font-weight: 400 !important;
  font-size: 3.5rem;
  color: #1a577a;
  text-decoration: underline;
  word-break: normal;
  margin-bottom: 25px;
  margin-top: 0;
}
div.row.menu-container .menu-option .option-inner div.well p.lead {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
div.row.menu-container .menu-option .option-inner div.well p:not(.lead) {
  font-size: 1.8rem;
}
div.row.menu-container .menu-option .option-inner div.well ul li {
  font-size: 1.8rem;
}
div.row.rep-container h2 {
  margin-top: 0;
}
div.row.rep-container input.rep-radio {
  margin: 37px 0 0 50%;
}
div.row.rep-container span.label {
  color: #333;
  font-size: 1.6rem;
}
div.row.rep-container span.data-element {
  font-size: 2rem;
}
/*  MEDIA QUERIES */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  label {
    text-align: left;
    float: none;
  }
  div.row.menu-container .menu-option .option-inner {
    height: auto;
  }
  div.input-background.planofservice div.row div[class|='col'] span.label {
    display: inline-block;
    text-align: right;
    width: 40%;
    margin-right: 5px;
    vertical-align: baseline;
    white-space: normal;
  }
  div.input-background.planofservice div.row div[class|='col'] span.data-element {
    margin-top: -5px;
    margin-left: 15px;
    text-align: left;
    display: inline-block;
    vertical-align: baseline;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  div.row.menu-container .menu-option .option-inner {
    height: auto;
  }
}
/* Custom, iPhone Retina */
