h1,
h2 {
  color: #174d6c;
}
h1 {
  border-bottom: 2px solid #174d6c;
  margin-bottom: 20px;
}
* {
  outline: none !important;
}
#breadcrumb:after {
  content: " ";
  background: #e8e8e8;
  width: 200vw;
  height: 100%;
  position: absolute;
  left: -40%;
  z-index: -1;
  top: 0;
}
.cardGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67a1d3+0,3b5f89+99 */
  background: #67a1d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #67a1d3 0%, #3b5f89 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #67a1d3 0%, #3b5f89 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #67a1d3 0%, #3b5f89 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a1d3', endColorstr='#3b5f89', GradientType=0);
  /* IE6-9 */
}
input.required,
select.required {
  background: rgba(244, 248, 42, 0.39) !important;
}
.btn.btn-warning {
  background: linear-gradient(to bottom, #cc0000 0%, #cc0000 100%);
}
label.required::after {
  content: "*";
  position: relative;
  left: 3px;
  bottom: 1px;
  color: #ff9800;
  font-weight: bolder;
  font-size: 22px;
}
.generalBoxShadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
}
.footerBoxShadow {
  -webkit-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.12);
}
html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  height: 100vh;
}
body {
  font-size: 1.6rem;
  margin-bottom: 65px;
  overflow-x: hidden;
  background: white;
}
@media (max-width: 991px) {
  html {
    background-color: #e8e8e8;
  }
}
a.btn.btn-default.btn-lg.back-button {
  margin-top: 15px !important;
}
#back-button-area {
  left: -30px !important;
}
a:hover {
  cursor: pointer;
}
h1 {
  font-size: 4.4rem;
  font-weight: 700;
}
input[type='checkbox'] {
  width: 2.5rem;
  height: 2.5rem;
}
label {
  font-size: 1.6rem;
  float: right;
  vertical-align: baseline !important;
  text-align: right;
}
input.form-control,
select.form-control {
  padding: 20px 12px;
  font-size: 1.8rem;
}
option {
  font-size: 1.8rem;
}
span.label {
  color: #333;
  font-size: 1.6rem;
}
span.data-element {
  font-size: 1.6rem;
}
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 9998;
  background-color: #e8e8e8;
  margin-top: 40px;
}
footer.footer div.container-fluid p.text-muted {
  margin: 0;
  color: #206b96;
}
footer.footer div.container-fluid p.text-muted:first-of-type {
  margin: 8px 0 0 0;
  font-weight: bold;
}
@media (max-width: 991px) {
  footer.footer {
    position: static;
    width: auto;
    height: auto;
    padding: 10px 0 20px;
  }
  footer.footer .pull-left,
  footer.footer .pull-right {
    float: none !important;
  }
  footer.footer .col-md-9 {
    padding: 0;
  }
  body {
    margin-bottom: 0px;
  }
}
nav.navbar.navbar-default.navbar-fixed-top {
  background: #174d6c;
}
nav.navbar.navbar-default.navbar-fixed-top a.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: none;
}
nav.navbar.navbar-default.navbar-fixed-top a.navbar-brand:hover {
  color: white;
}
nav.navbar.navbar-default.navbar-fixed-top ul.nav.navbar-nav.navbar-right li a {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}
nav.navbar.navbar-default.navbar-fixed-top ul.nav.navbar-nav.navbar-right li a span.fa {
  font-weight: normal;
}
div.info-panel {
  background: #ebebeb;
  border-radius: 4px;
  margin: 25px auto 15px auto;
}
div.info-panel h1 {
  font-size: 4.4rem;
}
div.info-panel p.lead {
  font-weight: bold;
  font-size: 2.8rem;
}
div.info-panel p:not(.lead) {
  font-size: 1.6rem;
}
div#breadcrumb {
  position: relative;
  background: #e8e8e8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px 10px 13px 10px;
}
div#breadcrumb a.breadcrumb {
  background: none;
  color: #206b96;
  font-weight: bold;
  font-size: 1.8rem;
}
div#breadcrumb a.breadcrumb span.glyphicon,
div#breadcrumb a.breadcrumb span.fa {
  font-size: 1.8rem !important;
  display: inline-block !important;
  margin-right: 8px;
}
div#breadcrumb span.glyphicon.glyphicon-chevron-right {
  font-size: 1.6rem;
}
div#accountInfo div.well {
  background: #e8e8e8;
}
div#accountInfo div.well div.row:last-of-type {
  margin-bottom: 0;
}
div#accountInfo div.well div.row div[class|='col'] {
  margin-bottom: 15px;
}
div#accountInfo div.well div.row div[class|='col']:last-of-type {
  margin-bottom: 10px;
}
div#accountInfo div.well div.row div[class|='col'] span.label {
  display: inline-block;
  color: black;
  width: 125px;
  padding: 0;
  font-size: 1.7rem;
  text-align: right;
}
div#accountInfo div.well div.row div[class|='col'] span.data-element {
  text-align: left;
  font-size: 2rem;
  display: inline-block;
}
div.container-fluid.input-background,
div.input-background {
  background: #fbfbfb;
  padding: 15px;
  border-radius: 4px;
}
div.container-fluid.input-background div.row.input-container,
div.input-background div.row.input-container {
  margin-bottom: 15px;
}
div.container-fluid.input-background div.row span.label,
div.input-background div.row span.label {
  display: inline-block;
  color: #333;
  width: auto;
  padding: 0;
  font-size: 1.5rem;
  text-align: right;
}
div.container-fluid.input-background div.row span.data-element,
div.input-background div.row span.data-element {
  text-align: left;
  font-size: 1.6rem;
  display: inline-block;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'],
div.input-background.planofservice div.row div[class|='col'] {
  margin-bottom: 15px;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] h2,
div.input-background.planofservice div.row div[class|='col'] h2 {
  margin-top: 0;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] span.label,
div.input-background.planofservice div.row div[class|='col'] span.label {
  display: inline-block;
  text-align: right;
  width: 145px;
  margin-right: 5px;
  vertical-align: top;
  white-space: normal;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] span.data-element,
div.input-background.planofservice div.row div[class|='col'] span.data-element {
  margin-top: -5px;
  margin-left: 15px;
  display: inline-block;
  text-align: left;
  white-space: normal;
  vertical-align: top;
}
div.container-fluid.input-background.planofservice div.row div[class|='col'] table.table thead tr td,
div.input-background.planofservice div.row div[class|='col'] table.table thead tr td {
  font-weight: bold !important;
}
div.well p {
  font-size: 2rem;
}
div.row.menu-container {
  padding: 0;
  height: 100%;
}
div.row.menu-container .menu-option {
  height: auto;
}
div.row.menu-container .menu-option a:hover {
  text-decoration: none;
}
div.row.menu-container .menu-option a .option-inner {
  width: 100%;
  padding: 25px 20px 20px 20px;
  height: 380px;
  min-width: 250px;
  margin: 10px auto;
  border: 2px solid #386f9e;
  border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67a1d3+0,3b5f89+99 */
  background: #67a1d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #67a1d3 0%, #3b5f89 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #67a1d3 0%, #3b5f89 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #67a1d3 0%, #3b5f89 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a1d3', endColorstr='#3b5f89', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
}
div.row.menu-container .menu-option a .option-inner span.glyphicon,
div.row.menu-container .menu-option a .option-inner span.fa {
  display: block;
  color: white;
  font-size: 6.2rem;
  margin-bottom: 5px;
}
div.row.menu-container .menu-option a .option-inner h2 {
  font-weight: bold;
  font-size: 2.9rem;
  color: white;
  word-break: normal;
  margin-bottom: 25px;
  margin-top: 0;
  text-shadow: -1px -1px #174973;
}
div.row.menu-container .menu-option a .option-inner .fa:before {
  text-shadow: -1px -1px #174973;
}
div.row.menu-container .menu-option a .option-inner div.well {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
}
div.row.menu-container .menu-option a .option-inner div.well p.lead {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
div.row.menu-container .menu-option a .option-inner div.well p:not(.lead) {
  font-size: 1.8rem;
  color: white;
}
div.row.menu-container .menu-option a .option-inner div.well ul {
  padding-left: 20px;
}
div.row.menu-container .menu-option a .option-inner div.well ul li {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
div.row.menu-container .menu-option a .option-inner:hover:after {
  content: " ";
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 14px;
  right: 14px;
  border: 4px solid #386f9e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.03);
}
div.row.rep-container h2 {
  margin-top: 0;
}
div.row.rep-container input.rep-radio {
  margin: 37px 0 0 50%;
}
div.row.rep-container span.label {
  display: block;
  text-align: left;
  color: #999;
  font-size: 1.6rem;
  padding-left: 0;
}
div.row.rep-container span.data-element {
  font-size: 2rem;
}
.btn-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-default:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  background-color: #e6e6e6;
  border-color: #adadad;
  background-image: none;
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color: #cccccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #dbdbdb;
  background-image: none;
}
.btn-default.focus,
.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
  background-image: none;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
  background-image: none;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  background-image: none;
}
/*  MEDIA QUERIES */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  div.row.menu-container .menu-option .option-inner {
    height: 375px !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  label {
    text-align: left;
    float: none;
  }
  div.row.menu-container .menu-option .option-inner {
    height: auto !important;
  }
  div.input-background.planofservice div.row div[class|='col'] span.label {
    display: inline-block;
    text-align: right;
    width: 40%;
    margin-right: 5px;
    vertical-align: baseline;
    white-space: normal;
  }
  div.input-background.planofservice div.row div[class|='col'] span.data-element {
    margin-top: -5px;
    margin-left: 15px;
    text-align: left;
    display: inline-block;
    vertical-align: baseline;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  div.row.menu-container .menu-option .option-inner {
    height: auto;
  }
}
/* Custom, iPhone Retina */
