<footer class="footer" ng-show="model.showFooter">
    <div class="container-fluid">
        <div class="pull-left">
            <p class="text-muted">MyLTSS (Long Term Services and Supports)</p>
            <p class="text-muted">Hi Abigail! Today is January, 24th, 2016</p>
        </div>
        <div class="pull-right">
            <div class="col-md-9">
                <p class="text-muted pull-right">
                    As of January 8, 2016, your Plan of Service is active.
                </p>
            </div>
        </div>
    </div>
</footer>